/* CSS Document */
body{margin:0px; padding:0px; border:none; width:100%; height:100%; font-size:12px;}
.table_bk{ border:1px #7ebfe5 solid;}
.title_td{ border-bottom:1px #7ebfe5 solid; }
.title{ font-size:12px; text-align:center; line-height:22px; font-weight:bold; color:#0072d5;background:url(../images/wz_bg1.jpg) repeat-x 0 -1px; border:1px #FFF solid;}
.title2{ font-size:12px; text-align:left; font-weight:bold; color:#333; line-height:22px; padding-left:10px;}
.td_bk{border:1px #7ebfe5 solid; background-color:#ebf7fe; line-height:22px; text-align:right;}
.td_bk2{border:1px #7ebfe5 solid;  line-height:22px; text-align:center;}

.jk_menu{ width:794px; height:23px; line-height:23px; border:1px #0676cc solid; border-top:2px #0676cc solid; background:url(../images/jk_bg1.jpg) repeat-x;}
.jk_menu ul{ list-style:none; border:1px #FFF;}
.jk_menu ul li{ float:left; height:22px;}
.jk_menu ul li a{ display:block; height:22px; padding:0px 10px;}
.jk_menu ul li a:hover{ background: url(../images/jk_bg.jpg) no-repeat; color: #000; }


.jk1_menu{ width:100%; height:23px; line-height:23px;  background:url(../images/jk_bg1.jpg) repeat-x;}
.jk1_menu ul{ list-style:none; border:1px #FFF;}
.jk1_menu ul li{ float:left; height:22px; width:50%; text-align:center;}
.jk1_menu ul li a{ display:block; height:22px; padding:0px 10px; font-family:"ו"; font-weight:bold;}
.jk1_menu ul li a:hover{ background: url(../images/jk_bg.jpg) repeat-x; color: #000; }